<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title ?? 'Hyperion' }}</title>
  <meta name="title" content="{{ title ?? 'Hyperion' }}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#191a1d" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#191a1d">
  <meta name="msapplication-navbutton-color" content="#191a1d">
  <meta name="description" content="{{ description ?? 'Surveillez et contrôler votre machine avec Hyperion et son outil de cloud monitoring performent' }}">
  <meta name="keywords" content="monitoring, cloud, hyperion, server, linux, window">
  <meta name="author" content="Hyperion" />
  <meta name="language" content="French">
  <meta name="revisit-after" content="1 days">
  <meta name="identifier-url" content="https://hyperion-monitoring.com" />
  <meta name="copyright" content="© 2022 Hyperion" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hyperion-monitoring.com">
  <meta property="og:title" content="{{ title ?? 'Hyperion' }}">
  <meta property="og:description" content="{{ description ?? 'Surveillez et contrôler votre machine avec Hyperion et son outil de cloud monitoring performent' }}">
  <meta property="og:image" content="{{ asset('assets/static/embed.png') }}">
  <meta property="og:image:alt" content="La nouvelle façon de contrôler votre machine | Hyperion">
  <meta property="twitter:creator" content="@dev_afi">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://hyperion-monitoring.com">
  <meta property="twitter:title" content="{{ title ?? 'Hyperion' }}">
  <meta property="twitter:description" content="Surveillez et contrôler votre machine avec Hyperion et son outil de cloud monitoring performent">
  <meta property="twitter:image" content="{{ asset('assets/static/embed.png') }}">
  <link rel="icon" href="{{ asset('assets/static/favicon.png') }}" type="image/png"/>
  <link rel="icon" href="{{ asset('assets/static/favicon.ico') }}" sizes="any" />
  <link rel="icon" href="{{ asset('assets/static/favicon.svg') }}" type="image/svg+xml">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/static/favicon-16x16.png') }}"> 
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/static/favicon-32x32.png') }}"> 
  <link rel="icon" type="image/png" sizes="36x36" href="{{ asset('assets/static/favicon-36x36.png') }}"> 
  <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('assets/static/favicon-48x48.png') }}"> 
  <link rel="icon" type="image/png" sizes="57x57" href="{{ asset('assets/static/favicon-57x57.png') }}"> 
  <link rel="icon" type="image/png" sizes="60x60" href="{{ asset('assets/static/favicon-60x60.png') }}"> 
  <link rel="icon" type="image/png" sizes="70x70" href="{{ asset('assets/static/favicon-70x70.png') }}"> 
  <link rel="icon" type="image/png" sizes="72x72" href="{{ asset('assets/static/favicon-72x72.png') }}"> 
  <link rel="icon" type="image/png" sizes="76x76" href="{{ asset('assets/static/favicon-76x76.png') }}"> 
  <link rel="icon" type="image/png" sizes="86x86" href="{{ asset('assets/static/favicon-86x86.png') }}"> 
  <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/static/favicon-96x96.png') }}"> 
  <link rel="icon" type="image/png" sizes="114x114" href="{{ asset('assets/static/favicon-114x114.png') }}"> 
  <link rel="icon" type="image/png" sizes="120x120" href="{{ asset('assets/static/favicon-120x120.png') }}"> 
  <link rel="icon" type="image/png" sizes="128x128" href="{{ asset('assets/static/favicon-128x128.png') }}"> 
  <link rel="icon" type="image/png" sizes="144x144" href="{{ asset('assets/static/favicon-144x144.png') }}"> 
  <link rel="icon" type="image/png" sizes="150x150" href="{{ asset('assets/static/favicon-150x150.png') }}"> 
  <link rel="icon" type="image/png" sizes="152x152" href="{{ asset('assets/static/favicon-152x152.png') }}"> 
  <link rel="icon" type="image/png" sizes="180x180" href="{{ asset('assets/static/favicon-180x180.png') }}"> 
  <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/static/favicon-192x192.png') }}"> 
  <link rel="icon" type="image/png" sizes="310x310" href="{{ asset('assets/static/favicon-310x310.png') }}"> 
  <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('assets/static/favicon-512x512.png') }}"> 
  <link rel="shortcut icon" sizes="192x192" href="{{ asset('assets/static/android-chrome-192x192.png') }}">
  <link rel="shortcut icon" sizes="512x512" href="{{ asset('assets/static/android-chrome-512x512.png') }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/static/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/static/apple-touch-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/static/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/static/apple-touch-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/static/apple-touch-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/static/apple-touch-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/static/apple-touch-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/static/apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/static/apple-touch-icon-180x180.png') }}">
  <link rel="apple-touch-icon" sizes="512x512" href="{{ asset('assets/static/apple-touch-icon-512x512.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_11__iPhone_XR_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/8.3__iPad_Mini_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/12.9__iPad_Pro_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_14_Pro_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/10.9__iPad_Air_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/10.5__iPad_Air_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_11__iPhone_XR_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_14_Pro_Max_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/10.2__iPad_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/10.5__iPad_Air_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/12.9__iPad_Pro_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/10.9__iPad_Air_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/8.3__iPad_Mini_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_14_Pro_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ asset('assets/static/splash_screens/10.2__iPad_portrait.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_14_Pro_Max_landscape.png') }}">
  <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ asset('assets/static/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png') }}">
  <link rel="manifest" href="{{ asset('assets/static/site.webmanifest') }}" crossorigin="use-credentials">
  <meta name="msapplication-config" content="{{ asset('assets/static/browserconfig.xml') }}" />
  <link rel="mask-icon" href="{{ asset('assets/static/safari-pinned-tab.svg') }}" color="#191a1d">
  <link rel="canonical" href="https://hyperion-monitoring.com/">
  <link rel="alternate" href="https://hyperion-monitoring.com/" hreflang="x-default">
  <link rel="alternate" hreflang="fr" href="https://hyperion-monitoring.com/">
  @entryPointScripts('app')
  @entryPointStyles('app')
</head>

<body class="bg-steel-300">
  @!section('app')
</body>

</html>